*,                     /*                                  general style for all pages >                                       */
*::after,                 
*::before {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  color: #555555;
  background-color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5 {
  color: #394352;
}

nav a:hover {
  border-bottom: 1px solid #aaa;
}

nav {
  background-color: #ffffff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  padding-left: 10px;
}

.menu__icons {
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
}

.menu__icons__item {
  margin-right: 10px;
  padding-left: 10px;
}

.menu__link,
.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0px 20px;
  transition: all 0.2s;
} /*                        < general style for all pages                                 */

/*                         about-us-page style >                                 */

.img1 {
  width: 800px;
  height: 600px;
}

.img__text1 {
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__text {
  background-image: url(/img/breadcrumb-bg.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: flex;
  align-items: center; 
}

.section-content {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.section-image {
  flex: 1; 
  padding-right: 10px; 
}

.section-text {
  flex: 1; 
  padding-left: 21px; 
}

.section-image img {
  max-width: 100%; 
  border-radius: 15px;
}

.section-text h2 {
  margin-top: 0; 
  font-size: 40px;
}

.section-text p {
  font-size: 20px;
}

.team-section {
  text-align: center; 
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 20px; 
  font-size: 36px;
}

.team-members {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.team-member {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.team-member img {
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
}

.team-member h3 {
  margin-top: 10px; 
}

.welcome {
  margin-bottom: 100px;
}

.title {
  margin-top: 100px;
  font-weight: lighter;
  font-size: 30px;
  color: #814e46;
  font-family: "Great Vibes", cursive;
}

.welcome-inner {
  margin: auto;
  text-align: center;
}
.welcome-text {
  font-size: 30px;
}
/*                            < about-us-page style                                       */

footer {
  /*                            general style for all pages >                          */
  background-color: black;
  color: white;
  padding: 10px 12px;
  width: 100%;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.company__name,
.about__us__text {
  color: white;
  text-align: center;
}

.company__info__item,
.authors__name {
  padding-bottom: 20px;
  text-align: center;
}

.footer__text {
  border-top: 1px solid #eeeeee;
  text-align: center;
} /*                   < general style for all pages  */



.jumbotron {
  margin-left: 50px;
}

.img-fluid {
  width: 500px;
  height: 600px;
}

.jumbotron-fluid {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.accordion {
  background-color: #eeeeee;
  color: #181818;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: large;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.default {
  border-color: #0f0f0f;
  color: black;
}

.default:hover {
  background: #0c0c0c;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.tablink {
  background-color: #f7f6f6;
  color: rgb(8, 8, 8);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 22px 16px;
  font-size: 20px;
  width: 25%;
}

.tablink:hover {
  background-color: #fcfcfc;
}

.tabcontent {
  color: white;
  display: none;
  padding: 80px;
  text-align: center;
}

#Quality {background-color:rgb(182, 62, 62);}
#EnvironmentalFriendliness {background-color:rgb(100, 179, 100);}
#Comfort {background-color:rgb(221, 126, 62);}
#Availability {background-color:rgb(136, 105, 49);}
